@page
@model FinalMission7.Pages.PurchaseCompletedModel
@{
}

<div class="text-center">
    <h2> Thanks! We hope you enjoy your books as we dethrone Amazon!</h2>
    <a class="btn btn-primary" asp-controller="Home">Return Home</a>
</div>